{% extends 'main.html' %}
{% block content %}
<h1>Teaching</h1>
<p class="cyberpunk inverse">I have more than 3 years of experience teaching python programming to a vide variety of people from different technical backgrounds.
    I have personalized lectures for most of the areas where python programming is used.
</p>
<h1>Topics</h1>
<ol>
    <li>Beginner</li>
    <li>Advanced</li>
    <li>Going Fast(parallel processing)</li>
    <li>File processing</li>
    <li>Databases</li>
    <li>WebScraping</li>
    <li>Socket Programming</li>
    <li>GUI Programming</li>
    <li>PyPi Package</li>
    <li>Windows Executable</li>
    <li>Graphs</li>
    <li>Recursion</li>
    <li>Selenium</li>
    <li>Graphs</li>
</ol>
<p class="cyberpunk inverse">
    Apart from Python, I am also fluent in <a href="https://learn.microsoft.com/en-us/powershell/">PowerShell</a> and <a href="https://learn.microsoft.com/en-us/dotnet/csharp/">C#</a>.
</p>
<h1>Contact me for details @ r3ap3rpy[at]gmail[dot]com</h1>

{% endblock content %}